#titulosec{
    font-size: 40px;
    font-weight: bold;
    color: #a91f4f;
    padding-bottom: 10px;
}

#space{
    padding: 7px;
}

#educacion{
    padding-top:30px ;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: 5px inset #8a72d0;
}

#texto{
    color: #d9d6d5;
    font-size: 20px;
}

.educacion-block{
    padding-bottom: 25px;
}

#subtitulos{
    font-size: 20px;
    color: #ada0dc;
}