<div id="educacion" class="card mat-card" class="container" style="padding:16px;">
    <h2 class="heading" style="text-align:center">Educacion</h2>

    <div class="educacion-block">
        <h3>UNIVERSITARIO COMPLETO – CARRERA LICENCIATURA EN ADMINISTRACIÓN.</h3>
        <h4>Facultad de Ciencias Económicas. Universidad Nacional de Tucumán.</h4>
        <span class="education-date">Feb 2021 - Dic 2020</span>
    </div>

    <div class="educacion-block">
        <h3>PRIMARIO Y SECUNDARIO</h3>
        <h4>Instituto Privado San Javier. Modalidad Economía y Gestión de las Organizaciones.</h4>
        <span class="education-date">Egreso 2014</span>
    </div>
   
</div>