<div class="block">
    <div id="space"></div>
    <div id="educacion">
        <h2 style="text-align:center" id="titulosec">Educacion</h2>

        <div class="educacion-block">
            <h3 id="Nivel">UNIVERSITARIO COMPLETO – CARRERA LICENCIATURA EN ADMINISTRACIÓN.</h3>
            <h4 id="Institucion">Facultad de Ciencias Económicas. Universidad Nacional de Tucumán.</h4>
            <span id="Periodo">Feb 2021 - Dic 2020</span>
        </div>

        <div class="educacion-block">
            <h3 id="Nivel">PRIMARIO Y SECUNDARIO</h3>
            <h4 id="Institucion">Instituto Privado San Javier. Modalidad Economía y Gestión de las Organizaciones.</h4>
            <span id="Periodo">Egreso 2014</span>
        </div>
    </div>
</div>