<div id="space"></div>
<div id="proyectos">
    <div class="row">
        <h2 id="titulosec" style="text-align:center">Proyectos</h2>

        <div class="container">

            <div>
                <button type="button" class="btn btn-outline-light" routerLink="/newproy" *ngIf="isLogged">
                    Agregar Proyecto
                </button>
            </div>

            <br>

                <div>

                    <table class="table" >
                        <tbody >
                            <tr *ngFor="let Proyectos of proyectos">
                                <td id="subtitulos" >{{Proyectos.nombre}}</td>
                                <td id="texto" >{{Proyectos.descripcion}}</td>
                                <td *ngIf="isLogged"><button type="button" class="btn btn-outline-light" routerLink="/editproy/{{Proyectos.id}}"> <i
                                            class="bi bi-pencil-square"></i>Editar </button> </td>
                                <td *ngIf="isLogged"><button type="button" class="btn btn-outline-light" (click)="delete(Proyectos.id)"> <i class="bi bi-trash3"></i>Borrar</button> </td>

                                <div>
                                    <img src="https://static.platzi.com/media/user_upload/Untitled-a5ef7788-65c3-4a9a-acfb-a907b72fde4c.jpg" class="img-fluid img-proyecto" id="img"/>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                
                
                </div>
                 
        </div>
    </div>
</div>