<div id="space"></div>
<div id="proyectos">
    <div class="row">
        <h2 id="titulosec" style="text-align:center">Proyectos</h2>

        <div class="container">
                <div id="Proyecto1">

                    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                        <h3 id="Nombreproy">Página de error 404</h3>
                        <p id="Descriproy">
                            Cree una página responsive de error 404. Se adapta al tamaño de cualquier dispositivo móvil o computador.
                        </p>
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                        <img src="https://static.platzi.com/media/user_upload/Untitled-a5ef7788-65c3-4a9a-acfb-a907b72fde4c.jpg" class="img-fluid img-proyecto" id="img"/>
                    </div>
                
                </div>
                

                <div id="Proyecto2">

                    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                        <h3 id="Nombreproy">Portfolio Ariadna</h3>
                        <p id="Descriproy">
                            Diseño de un nuevo sitio web para el trabajo integrador de Yo Programo - Argentina Programa.   
                        </p>
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                        <img src="../../../assets/Imagenes/PortfolioAry.png" class="img-fluid img-proyecto" id="img"/>
                    </div>
                    
                    
                    
                </div>
        </div>
    </div>
</div>