<div class="block">
    <div id="space"></div>
    <div id="experiencia">
        <h1 style="text-align:center" id="titulosec">Experiencia Laboral</h1>

        <div>
            <button type="button" class="btn btn-outline-light" routerLink="/nuevaexp" *ngIf="isLogged">
                Agregar Experiencia
            </button>
        </div>

        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td id="puesto">{{Experiencia.nombreE}}</td>
                    <td id="tareas">{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged"><button type="button" class="btn btn-outline-light" routerLink="/editexp/{{Experiencia.id}}"> <i
                                class="bi bi-pencil-square"></i>Editar </button> </td>
                    <td *ngIf="isLogged"><button type="button" class="btn btn-outline-light" (click)="delete(Experiencia.id)"> <i class="bi bi-trash3"></i>Borrar</button> </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>