<div class="row" id="skills">
    <h2 class="heading" style="text-align:center"> Hard Skills & Soft Skills </h2>
    
    <div class=" text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'70'"
            [outerStrokeGradient]="true"
            [showSubtitle]=true
            [subtitle]="'HTML'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [backgroundGradientStopColor] = "'transparent'"
            [outerStrokeColor]="'#593957'"
            [outerStrokeGradientStopColor]="'#F29494'"
            [innerStrokeColor]="'#BB99BF'"
            [subtitleColor]="'#593957'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'40'"
            [unitsFontSize]="'40'"
            [subtitleFontSize]="'30'"
            [titleFontWeight]="'15'"
        ></circle-progress>
    </div>

    <div class=" text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'50'"
            [outerStrokeGradient]="true"
            [showSubtitle]=true
            [subtitle]="'CSS'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [backgroundGradientStopColor] = "'transparent'"
            [outerStrokeColor]="'#593957'"
            [outerStrokeGradientStopColor]="'#F29494'"
            [innerStrokeColor]="'#BB99BF'"
            [subtitleColor]="'#593957'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'40'"
            [unitsFontSize]="'40'"
            [subtitleFontSize]="'30'"
            [titleFontWeight]="'15'"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [title]="'75'"
            [outerStrokeGradient]="true"
            [showSubtitle]=true
            [subtitle]="'Adobe Photoshop CS6'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [backgroundGradientStopColor] = "'transparent'"
            [outerStrokeColor]="'#593957'"
            [outerStrokeGradientStopColor]="'#F29494'"
            [innerStrokeColor]="'#BB99BF'"
            [subtitleColor]="'#593957'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'40'"
            [unitsFontSize]="'40'"
            [subtitleFontSize]="'15'"
            [titleFontWeight]="'15'"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'60'"
            [outerStrokeGradient]="true"
            [showSubtitle]=true
            [subtitle]="'Git y Github'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [backgroundGradientStopColor] = "'transparent'"
            [outerStrokeColor]="'#593957'"
            [outerStrokeGradientStopColor]="'#F29494'"
            [innerStrokeColor]="'#BB99BF'"
            [subtitleColor]="'#593957'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'40'"
            [unitsFontSize]="'40'"
            [subtitleFontSize]="'25'"
            [titleFontWeight]="'15'"
        ></circle-progress>
    </div>

    <div class=" text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'80'"
            [outerStrokeGradient]="true"
            [showSubtitle]=true
            [subtitle]="'Ingles'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [backgroundGradientStopColor] = "'transparent'"
            [outerStrokeColor]="'#593957'"
            [outerStrokeGradientStopColor]="'#F29494'"
            [innerStrokeColor]="'#BB99BF'"
            [subtitleColor]="'#593957'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'40'"
            [unitsFontSize]="'40'"
            [subtitleFontSize]="'30'"
            [titleFontWeight]="'15'"
        ></circle-progress>
    </div>

    <div class=" text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'90'"
            [outerStrokeGradient]="true"
            [showSubtitle]=true
            [subtitle]="'Creatividad resolutiva'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [backgroundGradientStopColor] = "'transparent'"
            [outerStrokeColor]="'#593957'"
            [outerStrokeGradientStopColor]="'#F29494'"
            [innerStrokeColor]="'#BB99BF'"
            [subtitleColor]="'#593957'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'40'"
            [unitsFontSize]="'40'"
            [subtitleFontSize]="'15'"
            [titleFontWeight]="'15'"
        ></circle-progress>
    </div>
</div>
