#skills{
    background-color:  #0c0c16;
    padding-left: 15px;
    
}

.row{
    padding-top:30px ;
    padding-bottom: 30px;
    border-radius: 25px;
    border: 5px inset #8a72d0;
}

#space{
    padding: 7px;
}

#titulosec{
    font-size: 40px;
    font-weight: bold;
    color: #a91f4f;
    padding-bottom: 10px;
}

#circulo{
    display:flex;
    flex-direction: column;
    align-items: center;
}