<div id="space"></div>
<div id="skills">
    <div class="row" >
        
        <h2 id="titulosec" style="text-align:center"> Hard Skills & Soft Skills </h2>

        <div class="col-lg-2">
            <button type="button" routerLink="/newskill" class="btn btn-outline-light" *ngIf="isLogged">
                Agregar Skill
            </button>
        </div>
        
        <div class=" text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
            <circle-progress
                [percent]="(skill.porcentaje)"
                [titleColor]="'#d9d6d5'"
                [unitsColor]="'#d9d6d5'"
                [radius]="100"
                [outerStrokeGradient]="true" 
                [showSubtitle]=true
                [subtitle]="(skill.nombre)"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [backgroundGradientStopColor] = "'transparent'"
                [outerStrokeColor]="'#593957'"
                [outerStrokeGradientStopColor]="'#F29494'"
                [innerStrokeColor]="'#BB99BF'"
                [subtitleColor]="'#8a72d0'"
                [animation]="true"
                [animationDuration]="600"
                [titleFontSize]="'30'"
                [unitsFontSize]="'30'"
                [subtitleFontSize]="'30'"
                [titleFontWeight]="'30'"
            ></circle-progress>

            <td *ngIf="isLogged">
                <button type="button" class="btn btn-outline-light" routerLink="/editskill/{{skill.id}}"> 
                    <i class="bi bi-pencil-square"></i>Editar </button> 
            </td>
            <td *ngIf="isLogged">
                <button type="button" class="btn btn-outline-light" (click)="delete(skill.id)"> 
                    <i class="bi bi-trash3"></i>Borrar</button> 
            </td>

        </div>

    </div>
</div>
