<div class="container" *ngIf="expLab">
    <div class="row">
        <div>

            <br>

            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label id="titulocampo" for="nombreE"> Nombre de la empresa - Puesto laboral</label>
                    <br>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
                </div>

                <br>

                <div class="form-group">
                    <label id="titulocampo" for="descripcionE"> Descripcion de las tareas - Periodo </label>
                    <br>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                </div>

                <br>

                <button class="btn btn-outline-light boton"> Actualizar Experiencia</button>

            </form>
        </div>
    </div>
</div>
