<div id="acerca-de" class="block">
        
    <div id="info">
        <div id="info-img">
            <img class="profile-image" src="../../../assets/Imagenes/81720624_2526531294062527_8376430157103104000_o.jpg" alt="foto ary">      
        </div>

        <div id="info-data" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h1> Ariadna Lobo Figueroa Suarez</h1>
            <div id="info-titulo"> Licenciada en Administración y Full Stack Developer Jr.</div>
            <div id="info-contacto" style="display: block;">
            <span> Tucuman (Argentina) </span>
            <a href="../../../assets/Imagenes/Ariadna Lobo F.S. CV.pdf" style="display: block;">Hecha un vistazo a mi CV</a>
            </div>

        </div>

        <div id="sobre-mi" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1>Sobre Mi</h1>
            
            <p>Soy una persona amable y proactiva. Cuento con experiencia como auxiliar 
                administrativa en Rentas Yerba Buena, desempeñándome en materia impositiva.
                Tambien presto servicios en el área administrativa de un Pet Shop además de 
                contar con un emprendimiento de accesorios propio. Actualmente, me encuentro 
                en el proceso de aprender y crecer dentro del mundo laboral del software.
            </p>          
       </div>  

    </div>

    

</div>  
