<div class="header">

    <div class="logoheader">
        <img src="../../../assets/Imagenes/APLogo-20-20.png" alt="Logo">
        <h1> Argentina Programa - #Yo Programo. </h1>
        <a href="https://github.com/AriadnaLoboFS" target="_blank"><img src="../../../assets/Imagenes/Logo git.png" id="github"></a>        
        <a href="https://www.linkedin.com/in/ariadna-lobo-figueroa-suarez-aa2834181/" target="_blank"><img src="../../../assets/Imagenes/Logo linkedin.png" id="linkedin"></a>
        <button type="button" class="btn btn-outline-light" id="boton" (click)="login()"> Ingresar </button>
    </div>
    
</div> 